# Reference all tools likely to be used in the application here
tools:
#    Logger: Backend\Core\Utilities\Logger
#    Render: Backend\Base\Utilities\Render
    Render: Backend\Base\Utilities\TwigRender
    PearLogger:
        - Backend\Base\Utilities\PearLogger
        -
            filename: '/tmp/backend-pear.log'

# Add observers to subject classes here. The observers should refer to the tool name
subjects:
    Backend\Core\Utilities\LogMessage:
        observers:
            - Logger
            - PearLogger

# Set application settings here
application:
    values:
        mainTitle: "Backend Core"

# Set DB Connections here
database:
    default:
        # entititesFolder defaults to PROJECT_FOLDER . 'configs/entities'
        # entitiesFolder: 'configs/entities'
        connection:
            driver: pdo_sqlite
            path: /tmp/backend-core.sqlite
